@import url(http://fonts.googleapis.com/css?family=Aldrich);
.instructions{
  font-family: 'Aldrich', sans-serif;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 770px;
}
.logo{
  display: block;
  margin: 0 auto;
  width: 350px;
}
.playerDisplay{
  font-family: 'Aldrich', sans-serif;
  text-align: center;
}
.playerScore{
  position:absolute;
  z-index: 1000;
  background-color:black;
  color:white;
  opacity: .8;
  font-size:80px;
}
canvas{
  z-index:-1;
}
canvas.active{
  z-index:1;
}
#endGame{
  background: rgba(255,255,255,0.7);
  display: none;
  font-family: 'Aldrich', sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}
#endGame h1{
  text-shadow: 5px 5px 3px #888; 
  margin: 150px 0 0 0;
  text-align: center;
}
#endGame form{
  position: relative;
  margin: 0 auto;
  width: 400px;
}
#scoreContainer{
  border: 1px solid #000;
  margin: 20px auto 20px;
  padding: 25px;
  position: relative;
  width: 300px;
  -webkit-box-shadow: 5px 5px 4px #000; 
     -moz-box-shadow: 5px 5px 4px #000; 
          box-shadow: 5px 5px 4px #000; 
}
#scoreContainer h2{
  position: relative;
  text-align: center;
}
#scoreContainer span{
  color: #FFD700;
}
.winner{
  float: right;
  height: 25px;
  margin:-45px 0 0 0;
  position: relative;
  width: 25px;
}
.winner:hover{
  cursor: pointer;
}
#username{
  position: relative;
  margin: 0 auto;
  width: 150px;
}
#submitScore{
  display: none;
}
.endNotification{
  line-height: 20px;
  margin:10px auto;
  text-align: center;
  width: 450px;
}
#playAgain{
  display: none;
  margin: 0 auto;
  width: 72px;
}
.sologo{
  margin: 20px auto 0;
  position: absolute;
  top: 0;
  left:0;
  width: 200px;
  border: none;
}
.sologo img{
  border: none;
}
.endlogo{
  margin: 20px auto 0;
  width: 200px;
  border: none;
}
.endlogo img{
  border: none;
}